.post{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #444;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#create-pdf{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}