@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

/* .document {
    display: flex;
    max-width: 793px;
    margin: auto;
    background-color: brown;
    flex-direction: column;
    justify-content: center;
} */

.header,
.footer {
    font-family: montserrat, sans-serif;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: grey;
    flex-direction: column;
    align-items: center;
}

.post {
    font-family: montserrat, sans-serif;
    display: flex;
    width: 100%;
    background-color: rgb(243, 243, 244);
    flex-direction: row;
    justify-content: center;
    color: black;
    font-size: 0.5rem;
}

.left {
    display: flex;
    width: 45%;
    left: 0;
    flex-direction: column;
}

.left p,
.right p {
    text-align: center;
    font-size: 2rem;
}

.right {
    width: 45%;
}

#btn-create-pdf {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;


}

.uni-logo {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    line-height: 50px;
}

.uni-logo p {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

.uni-logo span {
    font-family: "Monoton", cursive;
    font-weight: 100;
    font-size: 2rem;
}

.footer h3 {
    margin: 0;
    font-style: italic;
}