@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
<<<<<<< HEAD

/* .document {
    display: flex;
    max-width: 793px;
    margin: auto;
    background-color: brown;
    flex-direction: column;
    justify-content: center;
} */
=======
@media (max-width: 800px) {
    #create-pdf {
        border-radius: 50% !important;
        width: 60px !important;
        height: 60px !important;
        right: 30px !important;
        top: 80% !important;
        border-style: dotted !important;
    }
}

.document {
    display: flex;
    max-width: 793px;
    min-height: 1000px;
    background-color: brown;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: montserrat, sans-serif;
    margin: auto;
}
>>>>>>> 30b9f50c3b59c8d68e63b98830b170396542faf2

.header,
.footer {
    font-family: montserrat, sans-serif;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: grey;
    flex-direction: column;
    align-items: center;
}

.post {
    font-family: montserrat, sans-serif;
    display: flex;
    width: 100%;
<<<<<<< HEAD
=======
    height: auto;
>>>>>>> 30b9f50c3b59c8d68e63b98830b170396542faf2
    background-color: rgb(243, 243, 244);
    flex-direction: row;
    justify-content: center;
    color: black;
    font-size: 0.5rem;
}

.left {
    display: flex;
    width: 45%;
    left: 0;
    flex-direction: column;
}

.left p,
.right p {
    text-align: center;
    font-size: 2rem;
}

.right {
    width: 45%;
}

<<<<<<< HEAD
#btn-create-pdf {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;


=======
#create-pdf {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: fixed;
    padding: 10px;
    font-family: montserrat, sans-serif;
    right: 100px;
    top: 50%;
    border: none;
    outline: none;
    border-radius: 3px;
}

#create-pdf:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
>>>>>>> 30b9f50c3b59c8d68e63b98830b170396542faf2
}

.uni-logo {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    line-height: 50px;
}

.uni-logo p {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

.uni-logo span {
    font-family: "Monoton", cursive;
    font-weight: 100;
    font-size: 2rem;
}

.footer h3 {
    margin: 0;
    font-style: italic;
}