/* @media (max-width: 800px) {
    .form-inputs {
        flex-direction: column !important;
    }
    .left {
        width: 100% !important;
    }
    .right {
        width: 100% !important;
    }
    #id-btn-form {
        width: 100% !important;
    }
} */

.form-container {
    padding-top: 0;
    display: flex;
    background-color: #303030;
    color: white;
    margin: auto;
}

.form {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-inputs {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.left {
    width: 45%;
}

.right {
    width: 45%;
}

.form-inputs h3 {
    margin: 10px;
    padding: 0;
    width: fit-content;
}

.form-inputs input {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    font-family: monospace;
    font-size: 2rem;
    /* background-color: #888; */
}

.form-inputs input:focus {
    outline: 3px solid #1670be;
    border-radius: 3px;
    outline-offset: 3px !important;
}

.fieldset {
    display: flex;
    width: 95%;
    flex-direction: column;
    align-items: center;
}

#id-btn-form {
    display: flex;
    width: 50%;
    height: 40px;
    margin: 15px;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: #303030;
    outline: none;
    border: solid 1px #888;
    color: white;
    font-family: monospace;
    font-size: 2rem;
}

#id-btn-form:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}

.pdf {
    margin: 0;
    height: 1000px;
    background-color: rgb(243, 243, 244);
}